[Desktop Entry]
Name=nekoray
Exec=/nix/store/jaqd562amdnn4vjy9s89x0bh9jm3j9s4-nekoray-3.26/share/nekoray/nekoray -tray -appdata
Terminal=false
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
